footer {
    background-color: #2b4552;
    color: #ffffff;
    padding: 30px 0;
    margin-top: 50px;
/border-top-left-radius: 20px;/
/border-top-right-radius: 20px;/
}
.footer_container {
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust 150px as needed */
    grid-gap: 20px;
}
.footer_logo {
    width: 80px;  /* or any suitable size */
    height: auto;
    max-width: 100%; /* prevents overflow */
}
