footer {
    background-color: #2b4552;
    color: #ffffff;
    padding: 30px 0;
    margin-top: 50px;
    /*border-top-left-radius: 20px;*/
    /*border-top-right-radius: 20px;*/
}
.footer_container{
    text-align: center;
    align-content: center;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* Four equal columns */
    grid-template-rows: repeat(1, 1fr); /* One row */
}
.footer_logo{
    scale: 0.6;
}


