* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: url("");

}
h1{
  text-align: center;
}
body{
  background-color: rgb(238, 234, 231);
}
